[submodule ".vim/pack/git-plugins/start/ale"]
	path = .vim/pack/git-plugins/start/ale
	url = https://github.com/dense-analysis/ale
[submodule ".vim/pack/git-plugins/start/vim-svelte"]
	path = .vim/pack/git-plugins/start/vim-svelte
	url = https://github.com/evanleck/vim-svelte
