[submodule ".vim/pack/git-plugins/start/ale"]
	path = .vim/pack/git-plugins/start/ale
	url = https://github.com/dense-analysis/ale
[submodule ".vim/pack/git-plugins/start/vim-svelte"]
	path = .vim/pack/git-plugins/start/vim-svelte
	url = https://github.com/evanleck/vim-svelte.git
[submodule ".vim/pack/typescript/start"]
	path = .vim/pack/typescript/start
	url = https://github.com/leafgarland/typescript-vim.git
[submodule ".vim/pack/start/nerdtree"]
	path = .vim/pack/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
